.teacherStudent {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    align-items: center;
}
.areYouA {
    text-align: center;
}
.OR {
    text-align: center;
}
.warning {
    text-align: center;
  
}
div {
    text-align: center;
}
body {
    background-color: lavender;
    height: 100%;
    position: relative;
}
button {
    background-color: yellow;
    
}