.teacherStudent {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    align-items: center;
}

.AnnNotifs {
    text-align: center;
}
button {
    background-color: yellow;
    transition: .3s ease all;
}
body {
    background-color: lavender;
    height: 100%;
    position: relative;
}
.createAnn {
    text-align: end;
}